<div class="container-fluid">
  <link
    rel="stylesheet"
    href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
  />

  <div class="p-3 mb-2 bg-light text-dark">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th width="5%">Rating ⭐️'s</th>
          <th width="15%">Dog Park Name</th>
          <th width="30%">Dog Park Photo</th>
          <th width="40%">Review</th>
          <th width="10%">Review Date</th>
        </tr>
      </thead>
      <tbody *ngFor="let dogParkReview of dogParkReviews">
        <tr>
          <td (click)="displayDogParkReview(dogParkReview)">
            {{ dogParkReview.rating }} ⭐️'s
          </td>
          <td (click)="displayDogParkReview(dogParkReview)">
            {{ dogParkReview.dogPark.name }}
          </td>
          <td (click)="displayDogParkReview(dogParkReview)">
            <img class="img-thumbnail" [src]="dogParkReview.imgUrl" />
          </td>
          <td (click)="displayDogParkReview(dogParkReview)">
            {{ dogParkReview.review }}
          </td>
          <td (click)="displayDogParkReview(dogParkReview)">
            {{ dogParkReview.reviewDate | date }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="selected && !editDogParkReview">
    <p>
      Rating: <strong>{{ selected.rating }}⭐️'s</strong>
    </p>
    <p>
      Review: <strong>{{ selected.review }}</strong>
    </p>
    <p>
      Dog Park: <strong>{{ selected.dogPark.name }}</strong>
    </p>
    <p>
      Image: <strong> <img [src]="selected.dogPark.imageUrl"> </strong>
    </p>
    <div class="btn-group">
      <button class="btn btn-outline-secondary" (click)="displayTable()">Back</button>
      <button class="btn btn-outline-secondary"(click)="setEditDogParkReview()">Edit</button>
      <button class="btn btn-outline-danger"(click)="deleteDogParkReview(selected)">Delete</button>
    </div>
  </div>

  <div class="stars">
    <div *ngIf="editDogParkReview">
      <label>Rating: </label>
      <input
        type="number"
        min="1"
        max="5"
        name="rating"
        [(ngModel)]="editDogParkReview.rating"
      />
      <label>Dog Park: </label>
      <input
        type="text"
        name="dogPark"
        [(ngModel)]="editDogParkReview.dogPark.name"
      />
      <br />
      <label>Review: </label>
      <textarea
        name="review"
        cols="100"
        rows="4"
        wrap="hard"
        spellcheck="true"
        autocapitalize="sentences"
        autocomplete="on"
        [(ngModel)]="editDogParkReview.review"
        placeholder="Review..."
        aria-describedby="inputGroupPrepend3"
        required
      ></textarea>
      <!-- <hr /> -->
      <!-- <label> Park Photo: </label>
      <input type="image" [(ngModel)]="editDogParkReview.imgUrl" /> -->
      <hr />

      <div class="btn-group">
        <button class="btn btn-outline-secondary"(click)="updateDogParkReview(editDogParkReview, editDogParkReview.dogPark.id)">Save</button>
        <!-- <br /> -->
        <button class="btn btn-outline-danger" (click)="editDogParkReview = null">Cancel Changes</button>
      </div>
    </div>
  </div>

  <br />
  <div class="p-1 mb-1 bg-info text-white">
    <form *ngIf="!selected" #addDogParkReviewForm="ngForm">
      Rating:
      <input
        type="number"
        min="1"
        max="5"
        name="rating"
        [(ngModel)]="newDogParkReview.rating"
        id="validationServer01"
        required
      />

        Dog Park Name:
        <input *ngIf="!dogParkSelected"
          type="text"
          name="name"
          [(ngModel)]="newDogParkReview.dogPark"
          id="validationServer01"
          required
        />
        <div *ngIf="dogParkSelected">
          {{dogParkSelected.name}}
          <input
          hidden
          readonly
          [value]="dogParkSelected.name"
          type="text"
          name="name"
          [(ngModel)]="newDogParkReview.dogPark"
          required
          />
        </div>

        <!-- <select name="name" [(ngModel)]="newDogParkReview.dogPark" id="validationServer01" required>
          <option *ngFor="let dogPark of dogParks" value={{dogPark.name}}>
            {{dogPark.name}}
          </option>
        </select> -->



        <hr />
        <label>Upload and Share Your Photo!</label>
        <br />
        <input
          type="text"
          name="photo"
          placeholder="photo Url"
          [(ngModel)]="newDogParkReview.imgUrl"
        />
        <div class="valid-feedback">Looks good!</div>
        <hr />
        <label for="validationServerReview">Write Your Review!</label>
        <div class="input-group">
          <div class="input-group-prepend"></div>
          <textarea
            name="review"
            cols="40"
            rows="4"
            wrap="hard"
            spellcheck="true"
            autocapitalize="sentences"
            autocomplete="on"
            class="form-control is-valid"
            id="validationServer02"
            required
            [(ngModel)]="newDogParkReview.review"
            class="form-control is-invalid"
            id="validationServerReview"
            placeholder="Review..."
            aria-describedby="inputGroupPrepend3"
            required
          >
          </textarea>
          <div class="invalid-feedback">Please Write A Review.</div>
        </div>
        <button
          type="submit"
          name="submit"
          value="Add Dog Park Review Form"
          (click)="addDogParkReview(addDogParkReviewForm)"
          class="btn btn-outline-primary"
        >
          Submit Review
        </button>

    </form>
  </div>
</div>
