<!-- <div class="container-fluid"> -->

  <div class="p-3 mb-2 bg-light text-dark">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Rating</th>
          <th>Dog Park</th>
          <th>Review</th>
          <th>Review Date</th>
        </tr>
      </thead>
      <tbody *ngFor="let dogParkReview of dogParkReviews">
        <tr>
          <td (click)="displayDogParkReview(dogParkReview)">
            {{ dogParkReview.rating }}
          </td>
          <td (click)="displayDogParkReview(dogParkReview)">
            <img class="img-thumbnail" [src]="dogParkReview.imgUrl" />
          </td>
          <td (click)="displayDogParkReview(dogParkReview)">
            {{ dogParkReview.review }}
          </td>
          <td (click)="displayDogParkReview(dogParkReview)">
            {{ dogParkReview.reviewDate | date }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div *ngIf="selected && !editDogParkReview">
    <p>
      Rating: <strong>{{ selected.rating }}</strong>
    </p>
    <p>
      Review: <strong>{{ selected.review }}</strong>
    </p>
    <p>
      Dog Park: <strong>{{ selected.dogPark }}</strong>
    </p>
    <p>
      Image: <strong>{{ selected.imgUrl }}</strong>
    </p>
    <p>
      Review Date: <strong>{{ selected.reviewDate }}</strong>
    </p>
    <button (click)="displayTable()">Back</button>
    <button (click)="setEditDogParkReview()">Edit</button>
  </div> -->

  <!-- <form>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label>Rating: </label>
        <input
          type="number"
          placeholder="Rating"
          name="rating"
          required
          [(ngModel)]="editDogParkReview.rating"
        />
      </div>
      <div class="col-md-4 mb-3">
        <label>Dog Park: </label>
        <input
          type="text"
          name="dogPark"
          placeholder="Dog Park"
          required
          [(ngModel)]="editDogParkReview.dogPark"
        />
      </div>
      <div class="col-md-4 mb-3">
        <label>Review: </label>
        <div class="input-group">
          <div class="input-group-prepend">
          </div>
          <textarea
          name="review"
          cols="40"
          rows="4"
          wrap="hard"
          spellcheck="true"
          autocapitalize="sentences"
          autocomplete="on"
          [(ngModel)]="editDogParkReview.review"
          placeholder="Review..."
          aria-describedby="inputGroupPrepend3"
          required>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label></label>Dog Park Photo: </label>
        <input
          type="image"
          [(ngModel)]="editDogParkReview.imgUrl"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label>Review Date: </label>
        <input
          type="date"
          class="form-control"
          required
        />
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <button (click)="updateDogParkReview(dogParkReview)">Save</button>
  <button (click)="editDogParkReview = null">Cancel Changes</button>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form> -->

  <hr />
  <div class="p-1 mb-1 bg-info text-white">
    <form *ngIf="!selected" #addDogParkReviewForm="ngForm">
      Rating:
      <input
        type="number"
        min="1"
        max="5"
        name="rating"
        [(ngModel)]="newDogParkReview.rating"
        id="validationServer01"
        required
      />
      <hr />
      <label>Upload and Share Your Photo!</label>
      <br />
      <input
        type="text"
        name="photo"
        placeholder="photo Url"
        [(ngModel)]="newDogParkReview.imgUrl"
      />
      <div class="valid-feedback">Looks good!</div>
      <hr />
      <label for="validationServerReview">Write Your Review!</label>
      <div class="input-group">
        <div class="input-group-prepend">
        </div>
        <textarea
          name="review"
          cols="40"
          rows="4"
          wrap="hard"
          spellcheck="true"
          autocapitalize="sentences"
          autocomplete="on"
          class="form-control is-valid"
          id="validationServer02"
          required
          [(ngModel)]="newDogParkReview.review"
          class="form-control is-invalid"
          id="validationServerReview"
          placeholder="Review..."
          aria-describedby="inputGroupPrepend3"
          required>
        <div class="invalid-feedback">Please Write A Review.</div>
      </div>
      <button
        value="Add Dog Park Review"
        (click)="addDogParkReview(addDogParkReviewForm)"
        class="btn btn-primary"
        type="submit"
      >
        Submit Review
      </button>
    </form>
  </div>
<!-- </div> -->
