.img-thumbnail {
  border-radius: 8px;
  width: 500px;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

input[type="submit"] {
  background-color: #4caf9e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.valid-feedback {
  color: #070707;
}
.invalid-feedback {
  color: #1a1818;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */
