<mat-card>

<mat-card-header>
    <h4 class="text-center">
      My Walks
      <span class="badge badge-info">{{myRoutes.length}}</span>
    </h4>
</mat-card-header>

<mat-card-actions>

  <div class="text-center">
    <app-tracker  [user]="user" (positionChanged)="updateMarker($event)" (updatedPostion)="drawRoute($event)"></app-tracker>
    <div>
      <button class="btn btn-outline-secondary" *ngIf="hideRoutes" (click)="toggleRoutes()">
        Show All My Walks
      </button>
      <button class="btn btn-outline-secondary" *ngIf="!hideRoutes" (click)="toggleRoutes()">
        Hide All My Walks
      </button>
      <span *ngIf="distanceDisplay"><p>Distance: <span class="text-info font-weight-bold">{{distanceDisplay | number : '1.1-1'}}</span> meters</p></span>
    </div>
  </div>
</mat-card-actions>

<mat-card-content>

  <google-map
  #myMap
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  mapId="ff79bdf3fe4b810b"
  [options]="options"
  (mapDblclick)="myMap.panTo()"
  >

  <map-polyline [path]="myLocArr"></map-polyline>

  <map-polyline
  *ngFor="let polyLine of allMyPolylines"
  [path]="polyLine.getPath()"
  (polylineClick)="getDistance(polyLine.getPath())"
  >
</map-polyline>
<map-marker
[position]="currentLocation"
>
</map-marker>

</google-map>
</mat-card-content>

</mat-card>

<div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>My Walks</mat-expansion-panel-header>
    <mat-accordion>
      <mat-list>
        <mat-list-item *ngFor="let route of myRoutes">
          <span class="text-info">{{route.startTime | date : 'short'}}</span>
          <span class="text-secondary"> - </span>
          <span class="text-info">{{route.endTime | date : 'shortTime'}}</span>
        </mat-list-item>
      </mat-list>
    </mat-accordion>
  </mat-expansion-panel>

</div>
