<div>
  <mat-card color="primary">
    <mat-card-header>

    </mat-card-header>

    <mat-card-title>
      {{meetup.title}}
    </mat-card-title>

    <mat-card-subtitle>
      <p>
        Hosted by <span>{{meetup.user.username}} <img [src]="meetup.user.profilePhotoUrl" class="img-fluid z-depth-1 rounded-circle" style="width:100px;height:100px;"></span>
        At <span>{{meetup.dogPark.name}}</span>
        On <span>{{meetup.meetupDate | date}}</span>
      </p>
    </mat-card-subtitle>
    <mat-card-content>
      <div>
        <h6>Description</h6>
        <p>{{meetup.description}}</p>
      </div>
      <div>
        <h6>Attendees</h6>
        <mat-list>
          <mat-list-item *ngFor="let dog of dogs">
            <div matLine>
              <span>{{dog.name}} <img [src]="dog.profilePicUrl" class="img-fluid z-depth-1 rounded-circle" style="width:50px;height:50px;"> </span>
            </div>
            <div matLine>
              <span>{{dog.name}}'s Human: {{dog.user.username}}</span>
            </div>

          </mat-list-item>
        </mat-list>
      </div>

      <div *ngIf="editMeetup">
        <mat-form-field>
          <input matInput type="text" name="title" [(ngModel)]="editMeetup.title" placeholder="Title">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea cdkTextareaAutosize cdkAutosizeMaxRows="5" cols='50' matInput type="text" name="description" [(ngModel)]="editMeetup.description" placeholder="Description"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput type="datetime-local" name="meetupDate" [(ngModel)]="editMeetup.meetupDate">
        </mat-form-field>
        <br>
        <button class="btn btn-secondary" (click)="update(editMeetup)">Update</button>
        <button class="btn btn-danger" (click)="editMeetup = null;">Cancel</button>
      </div>

    </mat-card-content>

    <mat-card-actions *ngIf="getLoggedInUser()">
      <div>
        <!-- <button class="btn btn-secondary" (click)="setJoin()">Attend</button><br> -->
        <hr>
        <div class="form-group col">
          <label for="add-dog-to-meetup">Dog</label>
          <!-- <select #selector class="form-control" id="add-dog-to-meetup" (change)="setSelectedDog(selector.value)" [(ngModel)]="selectedDog"> -->
            <!-- <option *ngFor="let dog of getLoggedInUser().dogs" [value]="dog">{{dog.name}}</option>
          </select> -->
          <select #selector class="form-control" name="select" id="add-dog-to-meetup" (change)="setSelectedDog(selector.value)" [(ngModel)]="selectedDogId">
            <option [value]="null">Select</option>
            <option *ngFor="let dog of getLoggedInUser().dogs" [value]="dog.id">{{dog.name}}</option>
          </select>
          <br>
          <br>
          <button class="btn btn-secondary" (click)="addDogToMeetup(meetup, selectedDog)">Join</button><br><br>

          <button class="btn btn-secondary">Comment</button>
        </div>
        <button class="btn btn-secondary" *ngIf="checkLoginMatchesUser(meetup.user)" (click)="setEdit()">Edit</button>
        <button class="btn btn-secondary" *ngIf="checkLoginIsAdmin()" (click)="setEdit()">Edit (Admin)</button>
      </div>
    </mat-card-actions>

  </mat-card>

</div>
