<div>
  <mat-card color="primary">
    <mat-card-header>

    </mat-card-header>

    <mat-card-title>
      {{meetup.title}}
    </mat-card-title>

    <mat-card-subtitle>
      <p>
        Hosted by <span>{{meetup.user.username}}</span>
        At <span>{{meetup.dogPark.name}}</span>
        On <span>{{meetup.meetupDate | date}}</span>
      </p>
    </mat-card-subtitle>
    <mat-card-content>
      <div>
        <h6>Description</h6>
        <p>{{meetup.description}}</p>
      </div>
      <div>
        <h6>Attendees</h6>
        <mat-list>
          <mat-list-item *ngFor="let dog of dogs">
            <div matLine>
              <span>{{dog.name}}</span>
            </div>
            <div matLine>
              <span>{{dog.name}}'s Human: {{dog.user.username}}</span>
            </div>

          </mat-list-item>
        </mat-list>
      </div>

      <div *ngIf="editMeetup">
        <input type="text" name="title" [(ngModel)]="editMeetup.title" placeholder="Title">
        <br>
        <textarea type="text" name="description" [(ngModel)]="editMeetup.description" placeholder="Description"></textarea>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput type="datetime-local" name="meetupDate" [(ngModel)]="editMeetup.meetupDate">
        </mat-form-field>
        <br>
        <button class="btn" (click)="update(editMeetup)">Update</button>
        <button class="btn" (click)="editMeetup = null;">Cancel</button>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <div>
        <button class="btn">Join</button>
        <button class="btn">Comment</button>
        <button class="btn" *ngIf="checkLoginMatchesUser(meetup.user)" (click)="setEdit()">Edit</button>
        <button class="btn" *ngIf="checkLoginIsAdmin()" (click)="setEdit()">Edit (Admin)</button>
      </div>
    </mat-card-actions>

  </mat-card>

</div>
