<div class="row">

  <div class="col-4">
    <table class="table table-light table-sm table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th><th>Image</th><th>Off Leash</th><th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dogPark of dogParks" (click)="select(dogPark)">
          <td>{{dogPark.name}}</td>
          <td><img class="img-thumbnail" [src]="dogPark.imageUrl" [alt]="'Picture for ' + dogPark.name"></td>
          <td>{{dogPark.offLeash}}</td>
          <td>{{dogPark.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col ">
    <div class="sticky-top">
      <div style="padding-top: 60px;"></div>
      <div>
        Map Goes Here
      </div>
    </div>
  </div>

  <div class="col">
    <div class="sticky-top">
      <div style="padding-top: 60px;"></div>
      <!-- selected -->
      <div *ngIf="selected && !updateDogPark">
        <div class="row">
          <div class="col">
            <h3 class="text-center">{{selected.name}}</h3>
            <img class="img-thumbnail mw-100" [src]="selected.imageUrl" [alt]="'Picture for ' + selected.name">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="">
              <p>{{selected.description}}</p>
              <p>{{selected.address.street}}</p>
              <p>{{selected.address.city}}, {{selected.address.stateAbbrv}}</p>
              <p>{{selected.address.zipcode}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="button-group">
            <button (click)="toggleUpdate()">Update //Admin only?</button>
            <button (click)="delete(selected)">Delete //Admin only</button>
            <button (click)="deselect()">Add New</button>
          </div>
        </div>
      </div>
      <!-- unselected -->
      <div *ngIf="!selected && !updateDogPark">
        <div class="row">

          <div>
            <button (click)="create(newDogPark, newAddress)">Add Park</button>
          </div>
          <div class="form-group">

            <div class="form-row">
              <div class="form-group col">
                <label for="new-dog-park-name">Name</label>
                <input class="form-control" type="text" name="name" id="new-dog-park-name" [(ngModel)]="newDogPark.name" placeholder="Name">
              </div>
              <div>
                <label for="new-dog-park-off-leash">Off Leash</label>
                <input type="checkbox" name="offLeash" id="new-dog-park-off-leash" [(ngModel)]="newDogPark.offLeash">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="new-dog-park-description">Description</label>
                <textarea class="form-control" name="description" id="new-dog-park-description" cols="25" rows="5" [(ngModel)]="newDogPark.description"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="new-dog-park-image-url">Name</label>
                <input class="form-control" type="text" name="imageUrl" id="new-dog-park-image-url" [(ngModel)]="newDogPark.imageUrl" placeholder="Image Url">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="new-address-street">Street Address</label>
                <input class="form-control" type="text" name="street" id="new-address-street" [(ngModel)]="newAddress.street" placeholder="Street Address">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="new-address-city">City</label>
                <input class="form-control" type="text" name="city" id="new-address-city" [(ngModel)]="newAddress.city" placeholder="City">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="new-address-state-abbrv">State</label>
                <input class="form-control" type="text" name="stateAbbrv" id="new-address-state-abbrv" [(ngModel)]="newAddress.stateAbbrv" placeholder="State">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="new-address-zipcode">Zip Code</label>
                <input class="form-control" type="text" name="zipcode" id="new-address-zipcode" [(ngModel)]="newAddress.zipcode" placeholder="Zip Code">
              </div>
            </div>

          </div>
        </div>
      </div>

      <div *ngIf="selected && updateDogPark">
        <div class="row">

          <div>
            <button (click)="update(updateDogPark, updateAddress)">Update Park</button>
          </div>
          <div class="form-group">

            <div class="form-row">
              <div class="form-group col">
                <label for="update-dog-park-name">Name</label>
                <input class="form-control" type="text" name="name" id="update-dog-park-name" [(ngModel)]="updateDogPark.name" placeholder="Name">
              </div>
              <div>
                <label for="update-dog-park-off-leash">Off Leash</label>
                <input type="checkbox" name="offLeash" id="update-dog-park-off-leash" [(ngModel)]="updateDogPark.offLeash">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="update-dog-park-description">Description</label>
                <textarea class="form-control" name="description" id="update-dog-park-description" cols="25" rows="5" [(ngModel)]="updateDogPark.description"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="update-dog-park-image-url">Name</label>
                <input class="form-control" type="text" name="imageUrl" id="update-dog-park-image-url" [(ngModel)]="updateDogPark.imageUrl" placeholder="Image Url">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="update-address-street">Street Address</label>
                <input class="form-control" type="text" name="street" id="update-address-street" [(ngModel)]="updateDogPark.address.street" placeholder="Street Address">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="update-address-city">City</label>
                <input class="form-control" type="text" name="city" id="update-address-city" [(ngModel)]="updateDogPark.address.city" placeholder="City">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="update-address-state-abbrv">State</label>
                <input class="form-control" type="text" name="stateAbbrv" id="update-address-state-abbrv" [(ngModel)]="updateDogPark.address.stateAbbrv" placeholder="State">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="update-address-zipcode">Zip Code</label>
                <input class="form-control" type="text" name="zipcode" id="update-address-zipcode" [(ngModel)]="updateDogPark.address.zipcode" placeholder="Zip Code">
              </div>
            </div>

          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
