<div>
  <form class="form-group">
    <div class="form-row">
      <label for="registerEmail">Email</label>
      <input class="form-control" type="email" name="email" id="registerEmail" [(ngModel)]="newUser.email" placeholder="Email">
    </div>
    <div class="form-row">
      <label for="registerUsername">Username</label>
      <input class="form-control" type="text" name="username" id="registerUsername" [(ngModel)]="newUser.username" placeholder="Username">
    </div>
    <div class="form-row">
      <label for="registerPassword">Password</label>
      <input class="form-control" type="password" name="password" id="registerPassword" [(ngModel)]="newUser.password" placeholder="Password">
    </div>
    <div class="form-row">
      <label for="registerPassword">First Name</label>
      <input class="form-control" type="text" name="firstName" id="registerFirstName" [(ngModel)]="newUser.firstName" placeholder="First Name">
    </div>
    <div class="form-row">
      <label for="registerPassword">Last Name</label>
      <input class="form-control" type="text" name="lastName" id="registerLastName" [(ngModel)]="newUser.lastName" placeholder="Last Name">
    </div>
    <div>
      <button class="btn btn-outline-primary" (click)="createUser()">Register</button>
    </div>
  </form>
</div>
