<div class="col-lg">
<h4>Comments:</h4>
  <ul>
    <li *ngFor="let comment of rootComments">
      <app-dog-park-comment-display [comment]="comment" [user]="user" (contentChange)="onContentChange(true)">

      </app-dog-park-comment-display>
    </li>
  </ul>

</div>
<div class="col-lg">
  <h4>Add New Comment:</h4>
  <mat-card>
    <mat-card-title>
      {{newComment.title}}
    </mat-card-title>
    <mat-card-content>
          <div class="form-group">
            <label for="new-dog-park-comment-title">Title</label>
            <input class="form-control" type="text" name="title" id="new-dog-park-comment-title" [(ngModel)]="newComment.title">
          </div>
      <textarea name="commentText" [(ngModel)]="newComment.commentText" cols="30"></textarea>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn btn-outline-secondary" (click)="create(newComment)">Post</button>
    </mat-card-actions>
  </mat-card>
</div>
