<h1 style="text-align: center;">Welcome to your Doggie Meetup Beginnings!!</h1>


<div *ngIf='selected'>
    <h1>User Info</h1>
  <table >
    <th>{{selected.username}}'s Profile</th>

    <td> {{selected.username}}</td><br>
    <td> {{selected.firstName}} </td>
    <td> {{selected.lastName}}</td>
    <td> <img [src]="selected.profilePhotoUrl" style="width:250px;height:150px;"></td><br>
    <td> {{selected.bio}}</td>

  </table>
  <button (click)='setEditUser()'>Edit</button>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div *ngIf='editUser'>
  <!-- TODO: Add a seperate edit funtion to change password, that compares to old password,
  and confirms change before it goes through-->
  <h4>{{selected.username}} Edit Your Profile Information</h4><br>
  <table >
  First Name: <input type="text" name="firstName" placeholder="{{selected.firstName}}" [(ngModel)]="editUser.firstName"><br>
  Last Name: <input type="text" name="lastName" placeholder="{{selected.lastName}}" [(ngModel)]="editUser.lastName"><br>
  Profile Pic: <input type="text" name="profilePhotoUrl" placeholder="Change Profile Pic Url" [(ngModel)]="editUser.profilePhotoUrl"><br>
  <!-- TODO instead of a text area for bio, maybe add a rich text box so users can add a little flare to their bio -->
  Bio: <textarea name="bio" cols="40" rows="4" placeholder="{{selected.bio}}" [(ngModel)]="editUser.bio"></textarea><br>
  <!-- Unsure of where to add the disable funtion for a profile. Seems like it should be a different area -->
  <button (click)='updateUser(editUser)'>Save</button>
  <button (click)='editUser=null'>Cancel</button>
</table>
<div>
