<br>
<br>
<br>
<h3>Login Page</h3>

<div>
  <div *ngIf="showErrorMessage">
    <h6 style="color: tomato;">Invalid username and password. Please try again</h6><br>
  </div>
  <form class="form-group">
    <div class="form-row">
      <label for="registerUsername">Username</label>
      <input class="form-control" type="text" name="username" id="registerUsername" [(ngModel)]="loginUser.username" placeholder="Username">
    </div>
    <div class="form-row">
      <label for="registerPassword">Password</label>
      <input class="form-control" type="password" name="password" id="registerPassword" [(ngModel)]="loginUser.password" placeholder="Password">
    </div>
    <div>
      <button class="btn btn-outline-primary" (click)="login()">Login</button>
    </div>
  </form>
</div>
<br>
<br>
<br>
<br>
<div>
 <strong>Want to sign up?</strong><br>
 <button class="btn btn-outline-secondary" (click)="registerPage()">Register</button>
</div>
