<h2 style="text-align: center;">Doggie <i class='fas fa-paw'></i> Meetup!</h2>
<div id="carousel">
  <ngb-carousel class="carousel-inner" *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random first slide"/>
      </div>
      <div class="carousel-caption">
        <h3>Doggie <i class='fas fa-paw'></i> Meetup!</h3>
        <p>Take a look around and enjoy!</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<br>
<br>
<br>
<div>
<h2 style="text-align: center;">Learn More About Doggie <i class='fas fa-paw'></i> Meetup!</h2>
<p style="font-size: 24px;">Here at Doggie <i class='fas fa-paw'></i> Meetup we specialize in designing playful meetups with you and your beloved doggies!
We pride ourselves on giving a wonderful experience setting up playful doggie meetups with others in your area. This gives you the peace of mind being able to
create your own meetup at your favorite local dog park or any other field or area with other dog lovers. As well as, join in on an already scheduled meetup in your area!
<br>
<br>
Go ahead and explore the dog parks, reviews of the dog parks from other users, add your wonderful pooch to it's own Dog Profile page and see other users dogs!
Find a new dog park or field area that isn't on Doggie Meetup? Go ahead and add it! You might find that others will thank you for adding new parks for their doggies to go on more adventures!
<br>
<br>
Don't forget to <a [routerLink]="['/register']">Register</a> with Doggie Meetup to unlock more exciting features!!
<br>
<br>
We hope you enjoy this app just as much as we did designing it!

<br>
<br>

Sincerly,<br>

Team Sugar Ribbons: Ashley Zink, Jourdan Rentschler, Daniel Majewski and Tony Herrera
</p>
</div>
