
<div class="container-fluid">
  <h1 style="text-align: center;">{{title}} <i class='fas fa-dog'></i></h1>
    <div>
    <div *ngIf="selected && !editDog">
        <div class="text-center">
          <img [src]="selected.profilePicUrl" class="img-fluid z-depth-1 rounded-circle"
          alt="Responsive image" style="height:150px;width:250px;">
        </div>
        <h3 style="text-align: center;">{{selected.name}}</h3>
        <p style="text-align: center;"><strong> Bio: </strong> {{selected.bio}}</p>
          <ul>
            <i class='fas fa-paw'></i><strong>  Gender: </strong>{{selected.gender}}<br>
            <i class='fas fa-paw'></i><strong>  Breed: </strong> {{selected.breed}}<br>
            <i class='fas fa-paw'></i><strong>  Size: </strong> {{selected.size}}<br>
            <i class='fas fa-paw'></i><strong>  Temperament: </strong> {{selected.temperament}}<br>
            <i class='fas fa-paw'></i><strong>  Activity Level: </strong> {{selected.activityLevel}}<br>
            <i class='fas fa-paw'></i><strong>  Birthday: </strong> {{selected.birthday | date}}<br>
            <i class="fas fa-rainbow"></i><strong>  Rainbow Bridge Date: </strong> {{selected.rainbowBridge | date}}<br>
            <i class='fas fa-paw'></i><strong>  Create Date: </strong> {{selected.createDate | date}}<br>
          </ul>

          <!-- <button class="btn btn-success" (click)="setEditDog()">Update Dog</button> -->
          <button class="btn btn-primary" (click)="displayDogDetails()">Dog Table</button>
        </div>
    </div>
      <div *ngIf="editDog">
        <h3>Edit Dog <i class='fas fa-paw'></i></h3>
        <form>
          Name: <input type="text" name="name" [(ngModel)]="editDog.name" placeholder="Name"><br>
          Gender: <input type="radio" id="male" name="gender" [(ngModel)]="editDog.gender" value="male">
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" [(ngModel)]="editDog.gender" value="female">
          <label for="female">Female</label><br>
          Breed: <input type="text" name="breed" [(ngModel)]="editDog.breed" placeholder="Breed"><br>
          Size: <input type="text" name="size" [(ngModel)]="editDog.size" placeholder="size"><br>
          Temperament: <input type="text" name="temperament" [(ngModel)]="editDog.temperament" placeholder="temperament"><br>
          Activity Level: <input type="text" name="activityLevel" [(ngModel)]="editDog.activityLevel" placeholder="activity level"><br>
          Bio: <textarea [(ngModel)]="editDog.bio" name="bio" cols="30" rows="3" placeholder="Bio"></textarea><br>
          Birthday: <input type="date" name="birthday" [(ngModel)]="editDog.birthday" placeholder="birthday"><br>
          Rainbow Bridge<input type="date" name="rainbowBridge" [(ngModel)]="editDog.rainbowBridge" placeholder="rainbowBridge"><br>
          Doggie Profile Pic: <input type="text" name="image" [(ngModel)]="editDog.profilePicUrl" placeholder="profilePicUrl"><br>
          <!-- <button class="btn btn-success" (click)="update(editDog)">Update Dog</button> -->
          <button (click)='editDog=null'>Cancel</button>
        </form>
      </div>
    <div id="dogList" *ngIf="!selected">

      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Profile Pic <i class='far fa-address-card'></i></th>
            <th>Name <i class='fas fa-paw'></i></th>
            <th>Gender <i class='fas fa-venus-mars'></i></th>
            <th>Breed <i class='fas fa-dog'></i></th>
            <th>Size <i class='fas fa-dog'></i><i class='fas fa-dog' style='font-size:24px'></i></th>
            <th>Birthday <i class="fas fa-birthday-cake"></i></th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dog of dogs">
            <td><img [src]="dog.profilePicUrl" style="width:250px;height:150px;" class="center"></td>
            <td (click)="select(dog)">{{dog.name}}</td>
            <td>{{dog.gender}}</td>
            <td>{{dog.breed}}</td>
            <td>{{dog.size}}</td>
            <td>{{dog.birthday | date}}</td>
            <td><button class="btn btn-danger" (click)="delete(dog.id)" >X</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
