<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">Home <i class='fas fa-paw'></i></a>
  <a class="navbar-brand" [routerLink]="['/dogParks']">DogParks <i class='fas fa-paw'></i></a>
  <!-- <a class="navbar-brand" [routerLink]="['/dogParkReview']">DogParkReview <i class='fas fa-paw'></i></a> -->
  <a class="navbar-brand" [routerLink]="['/meetups']">Meetups <i class='fas fa-paw'></i></a>
  <a *ngIf="checkLogin()" class="navbar-brand" [routerLink]="['/userProfile']">Profile Page <i class='fas fa-paw'></i></a>
  <a *ngIf="checkLoginIsAdmin()" class="navbar-brand" [routerLink]="['/admin']">Admin Page <i class='fas fa-paw'></i></a>
  <a *ngIf="checkLogin()" class="navbar-brand" [routerLink]="['/walks']">My Dog Walks <i class='fas fa-paw'></i></a>
  <a *ngIf="!checkLogin()" class="navbar-brand" [routerLink]="['/register']">Register <i class='fas fa-paw'></i></a>
  <a *ngIf="!checkLogin()" class="navbar-brand" [routerLink]="['/login']">Login <i class='fas fa-paw'></i></a>
  <a *ngIf="checkLogin()" class="navbar-brand" [routerLink]="['/dogProfile']">All Doggie Users <i class='fas fa-paw'></i></a>
  <app-logout *ngIf="checkLogin()"></app-logout>
</nav>
